*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 100px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: right;
    align-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border-bottom: 2px dotted #666666;


}
.navbar-links {
    margin-right: 10px;
   list-style: none;
   display: flex;
}
.navbar-items{
    margin-right: 20px;
}
.navbar-items a {
    position: relative;
    text-decoration: none;
    color: black ;
}
.navbar-items a::after {

    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: 3px; 
    background-color:#e74c3c;  
    transform: scaleY(0);
    transform-origin: top left;
    transition: transform 0.3s ease-in-out;
}
.navbar-items a:hover::after {
    color:#e74c3c;
    text-decoration: underline;
    transform: scaleY(1);

}
.navbar-items a:hover{
    color: #e74c3c;
    

}
.carrito {
    position: relative; 
    display: inline-block;
   
}
.placa {
    position: absolute;
    top: 20px;
    right: 20px; 
    background-color: red; 
    color: white;
    border-radius: 50%; 
    padding: 5px 8px; 
    font-size: 12px; 
    font-weight: bold; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
.logo{
   margin-right: 700px;

}